.section-title{
    font-weight: 700;
    color: #333;
    margin-bottom: 6rem;
}

.container{
    width: 90%;
    margin: auto;
    /* background-color: green; */
}

.py-60{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.brand-color{
    color: var(--brand-color);
}

.btn{
    display: block;  
    background-color: #333;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1rem 0;
    transition: .3s;
}

.btn:hover{
    background-color: var(--brand-color);
}