nav{
    background-color: #333333;
}

ul.nav li a{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

ul.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
}